{%extends 'base.html'%}
{%block content%}

<div class="container-fluid">
  <div class="row">
    <!-- <ul> -->
        {% for article in articles %}
        <div class="col-md-3 d-flex justify-content-center">
          <div class="card mb-4 bg-light text-secondary" my-card1> 
            <h4>{{article.title}}</h4>
            <h6>{{article.description}}</h6>
            <img src="{{article.urlToImage}}" alt="">
            <a  href="">{{article.url}}></a
            <h6>{{article.author}}</h6>
            <h6>{{article.id}}</h6>
            <h6>{{article.name}}</h6>
          </div>
        </div>
        {% endfor %}
    <!-- </ul>  -->
  </div>
</div>

{%endblock%}
   